.cabinet{
	background: url(../../../images/jpg/london.jpg);
	width: 100%;
	min-height: 75vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;	
	justify-content: start;
	align-items: start;	
}

.cabinet_wrapp{
	display: flex;
	flex-direction: column;	
	justify-content: start;
	align-items: start;	
	padding: 10px 20px;
}

.btn_exit{
	padding: 5px;
}
