.dictionary{
	background: url(../../images/jpg/069962b7cc7dc933bd0181b8d9da97e9.jpg);
	min-height: 85vh;
	width: 100%;background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}
