.call{
	min-height: 75vh;
	background: url(../../../images/gif/7RQk.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.call_title{
	margin: 0;
	padding-top: 20px;
}

.start_call{
	min-height: 75vh;
	background: url(../../../images/gif/game.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.btn_start_call{
	padding: 5px;
}
