.speaker_wrapper{
	display: flex;
	flex-direction: column;
}

.speaker{
	background: url(../../../../images/svg/speaker.svg);
	width: 100px;
	height: 100px;
	margin: 20px auto;
	cursor: pointer;
}

.btns_speacer{
	display: flex;
}

.btn{
	padding: 5px;
	margin: 0 5px;
	cursor: pointer;
	background: transparent;
}

.btn_next{
	padding: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.btnActive{
	background-color: rgb(47, 255, 0);
}
